@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.margin-top-zero{
	margin-top: 0;
}

nav ul{
	margin-bottom: 0;
}

.txt-center{
	text-align: center;
}

a:hover{
	text-decoration: none;
}

nav a, .link-decoration-none{
	text-decoration: none;
}


nav a:hover, .link-decoration-none:hover{
	text-decoration: underline;
}

.bg-gray-light{
	background-color: #F1F1F1;
}

.bg-gray-dark{
	background-color: #333;
}

.bg-pink{
	background-color: #BF8C6F;
}

.txt-white {
	color: white;
}

.bg-hero {
	background-image: url("../img/homepage.jpg");
	background-repeat: no-repeat;
	background-position: center ;
	height: 100%;
}

.padding {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}